name: Setup Major Beta

on:
  workflow_dispatch:

jobs:
  setup-major-beta:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout main
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.PRIVATE_TOKEN }}
          ref: main

      - name: Read current version from build.gradle
        id: ver
        run: |
          CURR=$(grep "^version" build.gradle | sed 's/version = "\(.*\)"/\1/')
          IFS='.' read MAJOR MINOR PATCH <<< "$CURR"

          MAJOR=$((MAJOR+1))
          MINOR=0
          PATCH=0
          NEXT="${MAJOR}.${MINOR}.${PATCH}-beta.0"

          echo "curr=$CURR" >> $GITHUB_OUTPUT
          echo "next=$NEXT" >> $GITHUB_OUTPUT

      - name: Create development branch from main
        run: |
          git checkout -B development
          git push -f origin development

      - name: Create beta branch and bump version
        run: |
          git checkout -B beta
          echo "{version:v${{ steps.ver.outputs.next }}}" > version.json
          sed -i "s/^version = .*/version = \"${{ steps.ver.outputs.next }}\"/" build.gradle

      - name: Commit and push beta
        run: |
          git config user.name "WynntilsBot"
          git config user.email "admin@wynntils.com"
          git add version.json build.gradle
          git commit -m "chore: Setup beta ${{ steps.ver.outputs.next }}"
          git push -f origin beta
