name: Setup Minor Beta

on:
  workflow_dispatch:

jobs:
  setup-minor-beta:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout main
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.PRIVATE_TOKEN }}
          ref: main

      - name: Calculate next version
        id: version
        run: |
          LATEST=$(git describe --tags --abbrev=0)
          VER=${LATEST#v}
          IFS='.' read MAJOR MINOR PATCH <<< "$VER"

          MINOR=$((MINOR+1))
          PATCH=0

          NEXT="${MAJOR}.${MINOR}.${PATCH}-beta.0"
          echo "next=$NEXT" >> $GITHUB_OUTPUT

      - name: Create development branch from main
        run: |
          git checkout -B development
          git push -f origin development

      - name: Create beta branch from development
        run: |
          git checkout -B beta

      - name: Write version to beta only
        run: |
          echo "{version:v${{ steps.version.outputs.next }}}" > version.json
          sed -i "s/^version = .*/version = \"${{ steps.version.outputs.next }}\"/" build.gradle

      - name: Commit version bump on beta
        run: |
          git config user.name "WynntilsBot"
          git config user.email "admin@wynntils.com"
          git add version.json build.gradle
          git commit -m "chore: Setup minor beta at v${{ steps.version.outputs.next }}"
          git push -f origin beta
